fastapi==0.109.0
uvicorn==0.27.0
sqlalchemy==2.0.25
pymysql==1.1.0
mysql-connector-python
pydantic==2.5.3
pydantic-settings==2.1.0
email-validator
python-dotenv==1.0.0
python-multipart==0.0.6
paho-mqtt==2.1.0
redis==7.4.0
apscheduler==3.11.2
bcrypt==5.0.0
PyJWT==2.8.0
cryptography==46.0.7
protobuf==6.33.6
grpcio-tools==1.80.0
requests==2.33.1
openpyxl==3.1.5
aiohttp==3.13.5
